<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Dashboard Farmacia</title>
</head>

<body>

<h1>Sistema Farmacia</h1>

<hr>

<button onclick="load('producto')">
Productos
</button>

<button onclick="load('cliente')">
Clientes
</button>

<button onclick="load('proveedor')">
Proveedores
</button>

<button onclick="load('venta')">
Ventas
</button>

<button onclick="load('factura')">
Facturas
</button>

<button onclick="load('categoria')">
Categorías
</button>

<button onclick="load('usuario')">
Usuarios
</button>

<button onclick="load('detalle_venta')">
Detalle Venta
</button>

<hr>

<div id="table"></div>

<script src="../js/modules.js"></script>

</body>
</html>