DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=farmacia
DB_USER=root
DB_PASSWORD=CAMBIAR_CONTRASENA

JWT_SECRET_KEY=CAMBIAR_CLAVE_JWT

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=farmacia
RABBITMQ_PASSWORD=farmacia123
RABBITMQ_VHOST=/
RABBITMQ_QUEUE=farmacia.operaciones
RABBITMQ_ERROR_QUEUE=farmacia.errores