body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border: none;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}